.con-full {
    position: relative;
    margin: 0 54px;
}

.ct-full {
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 80%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.75rem;
    max-width: 100%;
}



.img-ct-full img {
    color: transparent;
    width: 100%;
    height: 100%;
    max-width: 542px;
}

.ct-input1 {
    position: relative;
    display: flex;
}

.item-ct-input {
    font-size: 14px;
    line-height: 1.5715;
    padding-bottom: 15px;
    margin-right: 10px;
    width: 100%;
}

.item-ct-input1 {
    font-size: 14px;
    line-height: 1.5715;
    padding-bottom: 15px;
    margin-right: 10px;
    width: 100%;
}

.ct-input1 input {
    background: #fff;
    border: none;
    box-shadow: 0 1px 2px rgba(161, 161, 161, 0.08);
    border-radius: 8px;
    padding: 16px 12px;
    touch-action: manipulation;
    text-overflow: ellipsis;
    box-shadow: 0 0 6px rgb(177, 177, 177);
    width: 100%;
}

.ct-input input {
    background: #fff;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
    border-radius: 8px;
    padding: 16px 12px;
    width: 100%;
    box-shadow: 0 0 6px rgb(177, 177, 177);


}

.contact-form h1 {
    position: relative;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 4rem;
    justify-content: flex-start;
    text-align: center;
    z-index: 10;
    font-weight: 700;
}


.contact-form input::placeholder {
    color: rgb(196, 196, 196)
}

#ct-input-mess {
    overflow-y: hidden;
    height: 88px;
    resize: none;
    min-height: 88px;
    max-height: 120px;
    position: relative;
    padding-top: 16px;
}

#ct-input-mess::placeholder {
    position: absolute;
    top: 12 px;
    left: 12px;
    pointer-events: none;
    color: rgb(196, 196, 196);
    font-size: 14px;
    line-height: 1.5715;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.ct-input textarea {
    background: #fff;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
    border-radius: 8px;
    padding: 16px 12px;
    width: 100%;
    box-shadow: 0 0 6px rgb(177, 177, 177);
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.form-item-input input:hover {
    box-shadow: 0 0 6px rgb(120, 132, 238);
}

.form-item-input-error {
    display: none;
    color: red;

}

.form-item-input-error.show {
    display: inherit;


}

.focused-error input,
.focused-error textarea {
    box-shadow: 0 0 3px rgb(255, 0, 0);
}

.w {
    width: 186px;
}

#submit:hover {
    opacity: 0.9;
}

#submit {
    background: rgb(32 130 255);
    width: 190px;
    height: 56px;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding: 0.5rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border: none;
    color: white;
}