
body{
  position:relative !important;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.full{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}



.botton{
  height: 100%;
  left: 0;
}
.scrollable-container {
    width: 100%;
    overflow-y: auto; 
    height: 93.6%;
  }
  




  /* Tùy chỉnh kiểu của thanh cuộn */
  .scrollable-container::-webkit-scrollbar {
    width: 10px;
    
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #a7a6a6;
    border-radius: 1vh;
    box-shadow: inset 0 0 0 2px #ffffff;
  }

  .scrollable-container::-webkit-scrollbar-thumb:hover{
    background-color: rgba(114, 114, 114, 0.829);

  }
  
  .scrollable-container::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
